/* Full site settings */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Settings for elements in body */
body {
    background-image: url(./images/batman31.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    }

/* Settings for middel whole column */
.wrapper {
    display:flex;
    flex-direction: column;
    min-height: 670px;
    background-color: transparent;
    width: 80%;
    margin: auto;
    margin-top: 10px;
}

.header {
    background-color: transparent;
    min-height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 40px;
    background-color: #373b43;
    justify-items: center;
    align-items: center;
}

.titlepage {
    color: #f1f1f1;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    flex-direction: column;
    flex-basis: 97%;
}

.option {
    display: flex;
    flex-direction: column;
    flex-basis: 3%;
    margin: 12px;
}

.option > img {
    width: 30px;
    height: 25px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:#b70000;
    z-index: 1;
    /*padding: 5px;*/
}

.option:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: block;
}

.dropdown-content a:hover {
    color:black;
    background-color: #f1f1f1;
}

.main {
    min-height: 510px;
    background-color: #000000;
    opacity: 0.7;
}

.footer {
    min-height: 50px;
    background-color: black;
    opacity: 0.7;
}

.copyright {
    color: aliceblue;
    text-align: center;
    font-size: 12px;
    font-family:'Courier New', Courier, monospace;
}

.center {
    display: flex;
    align-items: center;
    position: relative;
}

.center > img {
    width: 150px;
    height: 70px;
    position: absolute;
    transition: opacity 0.3s; /* Add a smooth transition effect */
}

.center .hover-img {
    opacity: 0; /* Initially hide the hover image */
    cursor: pointer; /* Set the cursor to pointer */
}

.center:hover .normal-img {
    opacity: 0; /* Hide the normal image on hover */
}

.center:hover .hover-img {
    opacity: 1; /* Show the hover image on hover */
}