* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-repeat: no-repeat;
    }

.wrapper {
    display:flex;
    flex-direction: column;
    min-height: 400px;
    background-color: white;
    width: 80%;
    margin: auto;
}

.header {
    background-color: #ECECEC;
}
